meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
//- Facebook
meta(property='og:url' content='http://grazetechsolutions.com')
meta(property='og:title', content='Graze Tech Solutions')
meta(property='og:description', content='In a technology driven world, we are striving to meet your goals, with professionalism, determination, and a high quality of service. No matter your technology needs we can find and deliver the solutions to keep your business on top.')
meta(property='og:image', content='http://grazetechsolutions.com/img/Identity.png')
//- Twitter
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@GrazeTech')
meta(name='twitter:title', content='Graze Tech Solutions')
meta(name='twitter:description', content='In a technology driven world, we are striving to meet your goals, with professionalism, determination, and a high quality of service. No matter your technology needs we can find and deliver the solutions to keep your business on top.')
meta(name='twitter:image', content='http://grazetechsolutions.com/img/Identity.png')
//- Favicons
link(rel='apple-touch-icon', sizes='180x180', href='/img/favicons/apple-touch-icon.png')
link(rel='icon', type='image/png', href='/img/favicons/favicon-32x32.png', sizes='32x32')
link(rel='icon', type='image/png', href='/img/favicons/favicon-16x16.png', sizes='16x16')
link(rel='manifest', href='/img/favicons/manifest.json')
link(rel='mask-icon', href='/img/favicons/safari-pinned-tab.svg', color='#076CF1')
link(rel='shortcut icon', href='/img/favicons/favicon.ico')
meta(name='apple-mobile-web-app-title', content='Graze')
meta(name='application-name', content='Graze')
meta(name='msapplication-TileColor', content='#2d89ef')
meta(name='msapplication-TileImage', content='/img/favicons/mstile-144x144.png')
meta(name='msapplication-config', content='/img/favicons/browserconfig.xml')
meta(name='theme-color', content='#ffffff')
//- CSS
link(rel='stylesheet', type='text/css', href='/css/style-v001.css')
//- Fonts
link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Assistant:700')
link(rel='stylesheet', type='text/css', href='http://cbwconline.com/Fonts/Voga/stylesheet.css')