//.menu-wrap(title='Menu')
//	.menu
nav
	ul.hidden
		li
			a(href="/") Home
		li 
			a(href='#0') Business
		li 
			a(href='/Churches.html') Churches
		li 
			a(href='#0') Residential
		li 
			a(href='#0') Contact
.menu-wrap(title='Menu')
	.menu